<div class="row mt-5 closedGame" id="section-game" >
  <div class="col-md-12">
    <div class="card material-card">
      <div class="card-header d-flex justify-content-between">
        <div class="btn-hunt">
          <i class="fas fa-arrow-left icon-btn-hunt"></i> Volver a configuracion
        </div>

        <div class="btn-hunt" (click)="loadGame()">
          <i class="fas fa-redo icon-btn-hunt"></i> Reiniciar Partida
        </div>

      </div>
      <div class="card-body body-game">
        <div class="container">


          <div class="row mb-5">
            <div class="col-md-6">
              <table>
                <tr *ngFor="let line of cells">
                  <td *ngFor="let cell of line"
                      [ngClass]="{'activeCell': cell.checked === true,
                                  'passCell': cell.pass === true,
                                  'exitCell': cell.exit === true}">
                    <div *ngIf="cell.hunt">
                    <img src="assets/resources/hunt/hunt-svg.svg" class="hunt-img">
                    </div>
                    <div *ngIf="cell.wells">
                      <img src="assets/resources/cap/fosa.png" class="hunt-img">
                    </div>
                    <div *ngIf="cell.gold">
                      <img src="assets/resources/cap/Group%208.png" class="hunt-img">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <div class="card terminal">
                <div class="card-header d-flex justify-content-between">
                  <div class="dot-section d-flex">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>

                  <div class="timer">
                    <span class="time-letter">TIEMPO: {{time}}</span>
                  </div>

                </div>
                <div class="card-body">
                  <div class="container terminal-inner" id="terminal">
                    <div class="row mt-2" *ngFor="let item of historial">
                      <div class="col-md-12">
                        <span class="text-terminal"><i class="fas fa-angle-right"></i> {{ item }}</span>
                      </div>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
</div>
