.closedGame {
  display: flex;
  position: fixed;
  width: 100%;
  transform: translateY(-51vh) translateX(-100vw);
}

.openGame{
  display: flex;
  position: fixed;
  width: 100%;
  transition: all 1.5s ease;
  animation: showGame 1.5s ease;
  transform: translateY(-51vh) translateX(0vw);
}

@keyframes showGame {
  from {
    transform: translateY(-51vh) translateX(-100vw);
  }
  to {
    transform: translateY(-51vh) rotateY(0deg);
  }
}

table {
  table-layout: fixed;
  width: 100%;
  min-height: 45vh;

}

td {
  height: 50px;
  //background: aquamarine;
  width: 50px;
  //border: 1px solid #000;
}


.activeCell {
  //background: #e91e63 !important;
  background-image: url("../../../../assets/resources/cap/salida.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.passCell {
  //background: #e91e63 !important;
  background-image: url("../../../../assets/resources/cap/cell-normal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.exitCell {
  background-image: url("../../../../assets/resources/cap/salida.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pozoCell {
  background-image: url("../../../../assets/resources/cap/Fosa-new.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hunt-img {
  width: 25%;
  margin: auto;
  display: flex;
}

.terminal {
  background: #ffc6c7;
  border: 2px solid #33272a;

}

.terminal-inner {
  background: #FFFFFF;
  max-height: 45vh;
  height: 45vh;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
}
.dot {
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 100%;
  border: 2px solid;
}

.justify-content-between {
  justify-content: space-between;
}

.btn-hunt {
  padding: 10px !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
  display: flex !important;
}

.icon-btn-hunt {
  font-size: 18px;
  margin-right: 8px;
}

.body-game {
  display: flex;
  overflow: auto;
}

.time-letter {
  font-family: 'Press Start 2P', cursive;
}

.text-terminal {
  font-family: 'Roboto Condensed', cursive;
}





