table {
  width: 100%;
}
td {
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  font-family: 'Roboto Condensed', cursive;
}
thead {
  background: #ff8ba7;
  font-weight: bold;
}

span{
  font-family: 'Roboto Condensed', cursive;
}
li {
  font-family: 'Roboto Condensed', cursive;
}

.text-aling-center {
  text-align: center;
}
.btn-hunt {
  padding: 10px !important;
}
